<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css">

    <title>Book Journal Portfolio Project</title>
  </head>
  <body>
    <main>
      <%- include('header.ejs')%>
      <%- include('header_wave.ejs') %>
      <div class="album py-5 pb-4">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card shadow-sm">
                <form class="px-2 py-1" action="/submit/<%= locals.data.id %>" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="<%=locals.data.title%>">
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" name="author" value="<%=locals.data.author%>">
                </div>
                <div class="form-group">
                    <label for="rating">Rating (1-5)</label>
                    <select class="form-control" id="rating" name="rating">
                        <option value="1" <%= locals.data.rating == 1 ? 'selected' : '' %>>1</option>
                        <option value="2" <%= locals.data.rating == 2 ? 'selected' : '' %>>2</option>
                        <option value="3" <%= locals.data.rating == 3 ? 'selected' : '' %>>3</option>
                        <option value="4" <%= locals.data.rating == 4 ? 'selected' : '' %>>4</option>
                        <option value="5" <%= locals.data.rating == 5 ? 'selected' : '' %>>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="month">Month Finished</label>
                    <select class="form-control" id="month" name="month">
                        <option value="January" <%= locals.data.month == "January" ? 'selected' : '' %>>January</option>
                        <option value="February" <%= locals.data.month == "February" ? 'selected' : '' %>>February</option>
                        <option value="March" <%= locals.data.month == "March" ? 'selected' : '' %>>March</option>
                        <option value="April" <%= locals.data.month == "April" ? 'selected' : '' %>>April</option>
                        <option value="May" <%= locals.data.month == "May" ? 'selected' : '' %>>May</option>
                        <option value="June" <%= locals.data.month == "June" ? 'selected' : '' %>>June</option>
                        <option value="July" <%= locals.data.month == "July" ? 'selected' : '' %>>July</option>
                        <option value="August" <%= locals.data.month == "August" ? 'selected' : '' %>>August</option>
                        <option value="September" <%= locals.data.month == "September" ? 'selected' : '' %>>September</option>
                        <option value="October" <%= locals.data.month == "October" ? 'selected' : '' %>>October</option>
                        <option value="November" <%= locals.data.month == "November" ? 'selected' : '' %>>November</option>
                        <option value="December" <%= locals.data.month == "December" ? 'selected' : '' %>>December</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="year">Year Finished</label>
                    <input type="text" class="form-control" id="year" name="year" value="<%=locals.data.year%>">
                </div>
                <div class="form-group">
                    <label for="title">ISBN-13</label>
                    <input type="text" class="form-control" id="isbn" name="isbn" value="<%=locals.data.isbn%>">
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" id="notes" name="notes" rows="15"><%=locals.data.notes%></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button class="btn"><a href="/">Cancel</a></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('footer.ejs')%>
    <%- include('script.ejs'); %>
  </body>
</html>